
section.therapy-methods-section
    background-color: #F8F8F8
    padding: 100px 0

.method-col
    padding: 0 7px

.method
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05)
    margin-bottom: 15px
    background-color: #fff
    position: relative
    overflow: hidden
    z-index: 2
    background-size: cover
    background-position: center

    &__circle
        background-image: url("/images/method-crcle.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center
        width: 120%
        padding-top: 120%
        right: 20%
        bottom: -25%
        position: absolute
        z-index: 2
        transition: all 0.5s ease
    &__item
        width: 100%
        position: relative
        @media (min-width: map_get($grid-breakpoints, lg))
            width: 50%
        .img
            width: 100%
            padding-top: 100%
            @extend %bg-cover
            position: relative
            z-index: 1
            @media (min-width: map_get($grid-breakpoints, lg))
                padding-top: 439/365*100%
        .title
            position: absolute
            text-align: center
            left: 20px
            right: 20px
            font-weight: bold
            bottom: 20px
            font-size: 16px
            color: #fff
            font-family: $font-family-base
            z-index: 3
            transition: all 0.5s ease
            @media (min-width: map_get($grid-breakpoints, lg))
                color: #333
        .list
            position: relative
            z-index: 3
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 20px
    &:hover
        .method__circle
            width: 300%
            padding-top: 300%
            right: -100%
            bottom: -200%
        .method__item
            .title
                color: #fff

.methods-slider-wrap
    position: relative

.methods-slider
    width: 100%
    &__item
        width: 100%
        transition: none
        @media (min-width: map_get($grid-breakpoints, md))
            width: 50%
        .img
            padding-top: 50%
        .method
            margin-bottom: 0
        .list
            padding: 20px 35px
        .title
            left: 35px
            right: 35px

.therapy-methods-media
    padding: 0

.methods-arrow--next
    left: auto
    right: 0











