
section.about-section 
    padding: 30px 15px
    background-color: #F5F5F5
    position: relative

.about 
    position: relative

.about-text 
    p 
        margin-bottom: 20px

.about-galery 
    position: relative

.about-slider-nav 
    position: absolute 
    left: 0 
    bottom: 0 








