

section.contact-section 
    display: flex
    align-items: center
    justify-content: center
    margin: 0 -15px

.map 
    min-height: 300px
    width: 100%
    @media (min-width: map_get($grid-breakpoints, xl)) 
        min-height: 400px
    @media (min-width: map_get($grid-breakpoints, xxl)) 
        min-height: 600px
    &__bg 
        @extend %absolute
        background-color: rgba(#fff, 0.8)
        z-index: 3
        display: flex
        align-items: center
        justify-content: center
        opacity: 0
        cursor: pointer
        transition: all 0.5s ease
        &:hover 
            opacity: 1

.contact 
    padding: 30px
    @media (min-width: map_get($grid-breakpoints, xxl)) 
        padding: 0 100px
    &__item 
        display: flex
        justify-content: flex-between
        margin-top: 20px
        h4 
            font-family: $font-family-base 
            font-weight: bold
            text-transform: uppercase
            color: #999 
            width: 50%
            font-size: 10px
        p 
            text-align: right
            flex-grow: 1
            line-height: 1
            font-size: 14px
            @media (min-width: map_get($grid-breakpoints, xl)) 
                font-size: 16px
        a 
            display: inline-block
            margin-bottom: 10px
            font-size: 14px
            @media (min-width: map_get($grid-breakpoints, xl)) 
                font-size: 16px
            &:hover 
                color: $primary
            








