

.front-priview
    width: 100%
    padding-top: 350/640*100%
    @extend %bg-cover
    position: relative
    overflow: hidden
    &:before 
        content: ''
        background-image: linear-gradient(79.58deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
        @extend %absolute
        z-index: 1
    &:after 
        content: ''
        position: absolute 
        top: 100% 
        left: 0 
        width: 100% 
        height: 100% 
        background-color: #fff
        transition: all 0.5s ease
        z-index: 2
    .content 
        width: 100%
        height: 100%
        padding: 15px
        display: flex
        flex-direction: column
        justify-content: center
        @extend %absolute
        z-index: 3
        position: absolute
        left: 0 
        top: 0 
        @media (min-width: map_get($grid-breakpoints, xl)) 
            transform: translateY(-30px)
            top: 100% 
            padding: 0 20px
            justify-content: flex-start
        @media (min-width: map_get($grid-breakpoints, xxl)) 
            padding: 0 70px
            transform: translateY(-50px)
        &__title 
            color: #fff
            transition: all 0.5s ease
            font-size: 14px
            @media (min-width: map_get($grid-breakpoints, xl))
                font-size: 16px
            @media (min-width: map_get($grid-breakpoints, xxl))
                font-size: 1.75rem
        &__text 
            padding: 30px 0
            display: none
            @media (min-width: map_get($grid-breakpoints, xl))
                display: block
                padding: 15px 0
                font-size: 14px
            @media (min-width: map_get($grid-breakpoints, xxl)) 
                padding: 30px 0
                font-size: 16px
        &__link 
            font-size: 12px
            font-weight: bold
            color: #333 
            align-items: center
            padding-bottom: 20px
            display: none
            @media (min-width: map_get($grid-breakpoints, xl))
                display: inline-flex
                padding-bottom: 0
            @media (min-width: map_get($grid-breakpoints, xxl)) 
                padding-bottom: 20px
            span 
                position: relative
                display: inline-block
                padding: 10px 0
                &:after 
                    content: ''
                    position: absolute
                    left: 0 
                    bottom: 0 
                    width: 0
                    height: 2px
                    background-color: $primary
                    transition: all 0.5s ease
            svg 
                margin-left: 10px
                fill: $primary
                transition: all 0.5s ease
            &:hover 
                span 
                    &:after 
                        width: 100%
                svg 
                    transform: translateX(100px)
                    opacity: 0

.front-priview:hover 
    &:after 
        top: 0 
    .content__title 
        color: #333
    .content 
        @media (min-width: map_get($grid-breakpoints, xl)) 
            padding: 20px
            transform: translateY(0)
            top: 0
        @media (min-width: map_get($grid-breakpoints, xxl)) 
            padding: 40px 70px
            


.slide-wrap 
    transition: all 0.5s ease
    overflow: hidden
