section.intro-section
    padding-top: 100px
    @extend %bg-cover
    @media (min-width: map_get($grid-breakpoints, xl))
        height: 100vh
        padding-top: 0

    &:before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%)

.intro-label
    color: #fff
    font-weight: bold
    font-size: 14px
    position: absolute
    top: 30px
    right: 30px
    padding-left: 30px
    text-transform: lowercase
    display: none
    @media (min-width: map_get($grid-breakpoints, xl))
        display: block

    &:before
        content: ''
        width: 100px
        height: 1px
        background-color: #fff
        position: absolute
        right: 100%
        top: 50%

.intro
    position: relative
    flex-grow: 1

    &__logo
        display: block

        img
            width: auto
            max-width: 150px
            @media (min-width: map_get($grid-breakpoints, xl))
                max-width: 300px

    &__text
        font-family: $headings-font-family
        color: #fff
        font-size: 20px
        width: auto
        max-width: 700px
        text-align: center
        position: relative
        padding: 25px 40px 0
        @media (min-width: map_get($grid-breakpoints, xl))
            font-size: 30px
            border-top: 3px solid rgba(#fff, 0.3)
            &:before
                content: ''
                width: 100px
                height: 6px
                background-color: $primary
                position: absolute
                top: -6px
                left: 50%
                transform: translateX(-50%)
                box-shadow: 0px 0px 30px $primary

.intro-scroll
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    cursor: pointer
    margin-top: 100px
    @media (min-width: map_get($grid-breakpoints, xl))
        margin-top: 0

    p
        color: #fff
        font-size: 12px

    &:after
        content: ''
        height: 50px
        width: 2px
        background-color: #fff
        margin-top: 20px
        @media (min-width: map_get($grid-breakpoints, xxl))
            height: 150px


// intro other section

section.intro-other-section
    display: flex
    align-items: center
    height: auto
    min-height: 200px
    padding: 50px 0
    @extend %bg-cover
    @media (min-width: map_get($grid-breakpoints, xl))
        min-height: 350px
        padding: 100px 0

    &:before
        content: ''
        @extend %absolute
        background-color: rgba(4, 13, 18, 0.6)

.intro-other-text
    text-align: center
    color: #fff

// thanks
section.thanks-section
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    @extend %bg-cover
    background-image: url(../images/thanks-bg.jpg)
    height: 100vh
    min-height: 500px

.thanks-title
    font-size: 30px
    color: #fff
    font-weight: normal
    @media (min-width: map_get($grid-breakpoints, xl))
        font-size: 64px


.thanks-text
    color: #fff
    font-size: 20px
    @media (min-width: map_get($grid-breakpoints, xl))
        font-size: 40px

.intro
    &__social
        position: absolute
        top: 90px
        right: 30px
        display: flex
        a
            margin: 0 5px
            color: #fff
        svg
            fill: currentColor
