section.price-section
    padding: 50px 0

.price
    padding: 6px
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05)
    background-color: #fff
    border-radius: $border-radius
    position: relative
    z-index: 2
    text-align: center

    &:hover
        box-shadow: 0 10px 40px -10 rgba(0, 0, 0, 0.1)

    @media (min-width: map_get($grid-breakpoints, xl))
        padding: 20px
