section.price-section 
    padding: 50px 0

.price 
    min-height: 150px 
    padding: 25px 0 6px 30px
    display: flex
    align-items: flex-start
    flex-direction: column
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05)
    background-color: #fff
    margin-bottom: 30px
    position: relative
    z-index: 2
    &__title 
        font-family: $font-family-base
        font-size: 16px
    &-footer 
        margin-top: auto 
        height: 50px
        width: 100%
        &__value 
            padding: 0 20px
            background-color: #F7F7F7
            height: 50px
            line-height: 50px
            font-size: 14px
            span 
                font-weight: bold
                color: #555 
                font-size: 24px






























